node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json # Optional: Some teams commit this, some don't. Usually safer to commit it.

.env
.env.local
.env.*.local

.idea/
*.iml
*.iws
*.ipr
out/

.vscode/
.DS_Store       # Mac system file
Thumbs.db       # Windows system file

logs/
*.log
coverage/       # If you add testing later
dist/           # If you add a build step later